#container-iframe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#coluna1 {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
}

#coluna2 {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}


.container-coletor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloco {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 250px;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-agenda {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-agenda:hover {
    background-color: #3e8e41;
}

@media (max-width: 900px) {
    #container-iframe {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0px;
    }

    #coluna1, #coluna2 {
        padding: 0px;
        width: 100%;
    }
}